@font-face {
    font-family: arc;
    src: local('arc'), url("../fonts/Arciform.otf") format('opentype');
}

:root {
    font-size: 16px
}

body {
    font-family: arc, sans-serif;
}
/* notification bar */
.protons-notification { 
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex; 
    justify-content: center; 
    padding-top: 1.2rem; 
    padding-bottom: 1.2rem; 
    font-size: 1.2rem; 
} 
.protons-notification__link { 
    margin-left: 10px; 
    cursor: pointer; 
    background-color: #fff;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
} 

.protons-notification__link:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}
.protons-notification > span { 
    margin-left: auto; 
} 
.protons-notification__close { 
    padding-right: 15px; 
    cursor: pointer; 
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex; 
    align-items: center; 
} 
.protons-notification__hide { 
    height: 0; 
    padding: 0; 
    transform: translateY(-200%); 
    transition: all .3s ease-out; 
    -wenkit-transition: all .3s; 
    -moz-transition: all .3s; 
    -o-transition: all .3s; 
    -ms-transition: all .3s;
}

/*   NAV   */

nav {
    height: 64px;
}

nav ul a {
    font-size: 1.5rem;
}

#brand-logo img {
    width: 130px;
    margin: 7px 0 0 50px;
}

#mobile-demo #brand-logo:hover {
  background: #fff;
}

#mobile-demo #brand-logo img {
  width: 60%;
  margin: 20px auto;
  display: block;
}

#sidenav-list {
    padding-left: 30px;
    background: #ededed;
    list-style: square;
}

#hamb {
    margin-top: 22px;
}

#hamb span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fff;
}

footer>.row:last-child {
    margin-bottom: 0;
}

footer h6 {
    font-family: sans-serif;
    color: #000;
}
