body {
    color: #fff;
}

#head-sec {
    padding: 30px 0;
}

#head-sec>.row {
    margin-bottom: 0;
}

#head-tracks img {
    width: 90%;
}

#prog-sec,
#robotics-sec,
#auto-sec {
    padding-top: 1px;
    padding-bottom: 1px;
}

.track-title {
    max-width: 450px;
    height: 175px;
    margin-left: 35px;
    margin-top: 25px;
    transition: 0.6s ease-out;
    transform-origin: 87.5px 88.5px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.track-title h4 {
    float: right;
    font-size: 2rem;
    margin: 24px 15px;
}

.track-title.prog {
    background: url("../media/tracks/prog-title.png") no-repeat center center;
    background-size: contain;
}

.track-title.robotics {
    background: url("../media/tracks/robotics-title.png") no-repeat center center;
    background-size: contain;
}

.track-title.auto {
    background: url("../media/tracks/iot-title1.png") no-repeat left;
    background-size: contain;
}

#robotics-sec {
    background: #2ecc71;
}

.track-title.robotics h4 {
     margin-right: 68px;
}

.track-title.auto h4 {
    margin-right: 135px;
    margin-top: 29px;
}

.slick-block p {
    font-size: 1.4rem
}

.slick-block img {
    width: 150px;
}

.track-title.active {
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

@media only all and (max-width: 992px) {
    #head-tracks-text {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    #head-tracks img {
        width: 100%;
    }
}

@media only all and (max-width: 600px) {
    .track-title {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}

@media only all and (max-width: 500px) {
    .track-title {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
        margin: 0 auto;
    }
    .track-title.active {
        -webkit-transform: rotate(0) scale(0.7);
        transform: rotate(0) scale(0.7);
    }
}

@media only all and (max-width: 440px) {
     :root {
        font-size: 14px;
    }
    .track-title h4 {
        margin-top: 30px;
    }
    .track-title.robotics h4 {
        margin-top: 30px;
    }
    .track-title.auto h4 {
        margin-right: 115px;
        margin-top: 35px;
    }
}

@media only all and (max-width: 380px) {
     :root {
        font-size: 12px;
    }
    .track-title h4 {
        margin-top: 40px;
    }
    .track-title.robotics h4 {
        margin-top: 35px;
        margin-right: 55px;
    }
    .track-title.auto h4 {
        margin-right: 60px;
        margin-top: 35px;
    }
}

@media only all and (max-width: 340px) {
    .track-title h4 {
        margin-top: 38px;
    }
    .track-title.robotics h4 {
        margin-top: 38px;
    }
}
